extends ./inc/_layout

block wBody
	main#home.home
		.ctr
			h1 Basic Elements
			
			section#buttons.-mt40
				include ./components/_buttons
			
			section#panels.-mt40
				include ./components/_panels
			
			section#cards.-mt40
				include ./components/_cards
			
			section#grids.grids.-mt40
				h2 Grid
				.row
					.col-xs-2
						.box-tmp
					.col-xs-2
						.box-tmp
					.col-xs-2
						.box-tmp
					.col-xs-2
						.box-tmp
					.col-xs-2
						.box-tmp
					.col-xs-2
						.box-tmp

				.row
					.col-sm-3
						.box-tmp
					.col-sm-3
						.box-tmp
					.col-sm-3
						.box-tmp
					.col-sm-3
						.box-tmp

				.row
					.col-xs-4
						.box-tmp
					.col-xs-4
						.box-tmp
					.col-xs-4
						.box-tmp

				.row
					.col-sm-2.col-sm-os-2
						.box-tmp
					.col-sm-2
						.box-tmp
					.col-sm-2
						.box-tmp
					.col-sm-2
						.box-tmp

block wScripts
