/*
 * Colors
 */
.-black {
  color: $color-white !important;
  background-color: $color-black !important;
}
.-white {
  color: $color-black !important;
  background-color: $color-white !important;
}
.-green {
  color: $color-white !important;
  background-color: $color-green !important;
}
.-grey {
  color: $color-white !important;
  background-color: $color-grey !important;
}
.-red {
  color: $color-white !important;
  background-color: $color-red !important;
}
.-blue {
  color: $color-white !important;
  background-color: $color-blue !important;
}
.-orange {
  color: $color-white !important;
  background-color: $color-orange !important;
}
