/*
 * Titles
 */
h {
  &1, &2, &3, &4, &5, &6 {
    margin: 0;
    padding: 0;
  }

  &1 { font-size: 30px; }
  &2 { font-size: 28px; }
  &3 { font-size: 26px; }
  &4 { font-size: 24px; }
  &5 { font-size: 20px; }
  &6 { font-size: 18px; }
}

/*
 * Colors
 */
.txt {
  &-green { color: #4CAF50; }
  &-white { color: #FFF; }
  &-black { color: #000; }
  &-red   { color: red;  }
}

/*
 * Sizes
 */
.-fz {
  &-xs  { font-size: 11px; }
  &-sm  { font-size: 13px; }
  &-md  { font-size: 15px; }
  &-lg  { font-size: 18px; }
  &-xlg { font-size: 22px; }
}
