section#buttons.-mt20
  h2 Buttons
  .box-buttons.-mt10
    button.btn.-black Negro
    button.btn.-green.-ml5 Verde
    button.btn.-grey.-ml5 Gris
    button.btn.-red.-ml5 Rojo
    button.btn.-blue.-ml5 Azul
    button.btn.-orange.-ml5 Naranja
    button.btn.-black.-ml5(disabled) Desabilitado

  .box-buttons.-mt10
    button.btn.-black.-sm Pequeño
    button.btn.-black.-ml5 Defecto
    button.btn.-black.-md.-ml5 Medio
    button.btn.-black.-lg.-ml5 Grande
    button.btn.-black.-xlg.-ml5 Extra grande

  h2.-mt30 Links
  .box-buttons.-mt10
    button.btn-link Default
    button.btn-link.txt-green Primary
    button.btn-link.txt-red Secundary
    button.btn-link(disabled) Disabled
