h2 Cards

.-mt10
  .card(style="max-width:300px;")
    img(src="img/avatar.jpg" alt="Avatar" style="width:100%;height:auto;")
    .container
      p Este es una card.
    
.-mt20
  .card(style="max-width:300px;")
    header.container.-blue.-pd
      h2 Título
    .container
      p Este es otra card.
    footer.container.-blue.-pd-sm
      span Footer
  
.-mt20
  .card-4.-pd-md(style="max-width:300px;")
    span Este es otra card.
